<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="Explorip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Explorip.Properties.Settings>
        <setting name="Theme" serializeAs="String">
            <value>System</value>
        </setting>
        <setting name="IsFirstRun" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="ShowClock" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="ShowQuickLaunch" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="QuickLaunchPath" serializeAs="String">
            <value>%USERPROFILE%\Documents\QuickLaunch</value>
        </setting>
        <setting name="CollapseNotifyIcons" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="AllowFontSmoothing" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="Language" serializeAs="String">
            <value>System</value>
        </setting>
        <setting name="Edge" serializeAs="String">
            <value>3</value>
        </setting>
    </Explorip.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
