/bin/
/obj/
/.vs/
*.user
/packages/
/VirtualDesktop/VirtualDesktop/bin/
/VirtualDesktop/VirtualDesktop/obj/
/VirtualDesktop/VirtualDesktop.WinForms/bin/
/VirtualDesktop/VirtualDesktop.WinForms/obj/
/VirtualDesktop/VirtualDesktop.WPF/bin/
/VirtualDesktop/VirtualDesktop.WPF/obj/
