/Explorip/bin/
/Explorip/obj/
/.vs/
*.user
/packages/
/VirtualDesktop/VirtualDesktop/bin/
/VirtualDesktop/VirtualDesktop/obj/
/VirtualDesktop/VirtualDesktop.WinForms/bin/
/VirtualDesktop/VirtualDesktop.WinForms/obj/
/VirtualDesktop/VirtualDesktop.WPF/bin/
/VirtualDesktop/VirtualDesktop.WPF/obj/
/ManagedShell/ManagedShell/bin/
/ManagedShell/ManagedShell/obj/
/ManagedShell/ManagedShell.AppBar/bin/
/ManagedShell/ManagedShell.AppBar/obj/
/ManagedShell/ManagedShell.Common/bin/
/ManagedShell/ManagedShell.Common/obj/
/ManagedShell/ManagedShell.Interop/bin/
/ManagedShell/ManagedShell.Interop/obj/
/ManagedShell/ManagedShell.ShellFolders/bin/
/ManagedShell/ManagedShell.ShellFolders/obj/
/ManagedShell/ManagedShell.UWPInterop/bin/
/ManagedShell/ManagedShell.UWPInterop/obj/
/ManagedShell/ManagedShell.WindowsTasks/bin/
/ManagedShell/ManagedShell.WindowsTasks/obj/
/ManagedShell/ManagedShell.WindowsTray/bin/
/ManagedShell/ManagedShell.WindowsTray/obj/
/GUI/CustomTabControl/bin/
/GUI/CustomTabControl/obj/
/WindowsAPICodePack/Core/bin/
/WindowsAPICodePack/Core/obj/
/WindowsAPICodePack/Shell/bin/
/WindowsAPICodePack/Shell/obj/
